* text=auto

# Force LF for source files and configurations to avoid cross-OS line ending issues
*.sh text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
