{{- $brand := .brand -}}
{{- $class := .class | default "card-tag card-tag-brand" -}}
{{- with $brand -}}
{{- if ne . "不明" -}}
{{- $info := partial "get-brand-info.html" . -}}
{{- if $info.slug -}}
<a href="{{ printf `brand/%s/` $info.slug | relURL }}" class="{{ $class }}" title="{{ . }}のブランドページへ">
    <svg class="brand-tag-icon" viewBox="0 0 24 24" width="12" height="12" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" style="vertical-align: -1px; margin-right: 2px;">
        <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path>
        <line x1="7" y1="7" x2="7.01" y2="7"></line>
    </svg>{{ . }}
</a>
{{- else -}}
<span class="{{ $class }} card-tag-brand-text">{{ . }}</span>
{{- end -}}
{{- end -}}
{{- end -}}