{{- /*
  Product Card Sub Shop Buttons Partial (Rakuten & Yahoo! 2-column)
  Usage:
    {{ partial "product-card-shop-buttons.html" . }}
*/ -}}

{{- $params := .Params -}}
{{- $asin := $params.asin -}}
{{- $title := .Title -}}
{{- $brand := $params.brand -}}
{{- $model := $params.model -}}
{{- $ean := $params.ean -}}
{{- $price := $params.price -}}
{{- $score := $params.score | default 0 -}}

{{- $trackingCategory := "" -}}
{{- if $params.categories -}}
  {{- $trackingCategory = index $params.categories 0 -}}
{{- else if $params.category -}}
  {{- $trackingCategory = $params.category -}}
{{- end -}}

{{- $priceBucket := partial "utils-price-bucket.html" $price -}}

{{- /* クエリ生成ロジック: 1. EAN/JAN -> 2. ブランド+型番 -> 3. 商品名 */ -}}
{{- $searchQuery := "" -}}
{{- if $ean -}}
  {{- $searchQuery = $ean -}}
{{- else if and $brand $model -}}
  {{- $searchQuery = printf "%s %s" $brand $model -}}
{{- else if $model -}}
  {{- $searchQuery = $model -}}
{{- else -}}
  {{- $searchQuery = $title -}}
{{- end -}}

{{- /* もしもアフィリエイト設定 */ -}}
{{- $moshimo := site.Params.affiliate.moshimo -}}
{{- $rakutenAId := $moshimo.rakuten_a_id | default "5756223" -}}
{{- $rakutenPId := $moshimo.rakuten_p_id | default "54" -}}
{{- $rakutenPcId := $moshimo.rakuten_pc_id | default "54" -}}
{{- $rakutenPlId := $moshimo.rakuten_pl_id | default "27059" -}}

{{- $yahooAId := $moshimo.yahoo_a_id | default "5756224" -}}
{{- $yahooPId := $moshimo.yahoo_p_id | default "1225" -}}
{{- $yahooPcId := $moshimo.yahoo_pc_id | default "1925" -}}
{{- $yahooPlId := $moshimo.yahoo_pl_id | default "27061" -}}

{{- /* 楽天市場 URL (もしも経由) */ -}}
{{- $rakutenTargetUrl := printf "https://search.rakuten.co.jp/search/mall/%s/" (urlquery $searchQuery) -}}
{{- $rakutenUrl := printf "https://af.moshimo.com/af/c/click?a_id=%s&p_id=%s&pc_id=%s&pl_id=%s&url=%s" $rakutenAId $rakutenPId $rakutenPcId $rakutenPlId (urlquery $rakutenTargetUrl) -}}

{{- /* Yahoo!ショッピング URL (もしも経由) */ -}}
{{- $yahooTargetUrl := printf "https://shopping.yahoo.co.jp/search?first=1&p=%s" (urlquery $searchQuery) -}}
{{- $yahooUrl := printf "https://af.moshimo.com/af/c/click?a_id=%s&p_id=%s&pc_id=%s&pl_id=%s&url=%s" $yahooAId $yahooPId $yahooPcId $yahooPlId (urlquery $yahooTargetUrl) -}}

<div class="card-footer-row card-footer-row-shops">
  <a href="{{ $rakutenUrl }}" class="btn-shop btn-shop-rakuten btn-shop--card" target="_blank" rel="noopener noreferrer"
    data-track-product="1" data-asin="{{ $asin }}" data-mall="rakuten" data-category="{{ $trackingCategory }}"
    data-price-bucket="{{ $priceBucket }}" data-price="{{ $price }}"
    data-score="{{ $score }}" aria-label="{{ $title }}を楽天市場で見る">
    <span class="btn-shop-icon-wrapper">
      <span class="btn-shop-badge-icon">R</span>
    </span>
    <span class="btn-shop-label">楽天市場</span>
  </a>

  <a href="{{ $yahooUrl }}" class="btn-shop btn-shop-yahoo btn-shop--card" target="_blank" rel="noopener noreferrer"
    data-track-product="1" data-asin="{{ $asin }}" data-mall="yahoo" data-category="{{ $trackingCategory }}"
    data-price-bucket="{{ $priceBucket }}" data-price="{{ $price }}"
    data-score="{{ $score }}" aria-label="{{ $title }}をYahoo!ショッピングで見る">
    <span class="btn-shop-icon-wrapper">
      <span class="btn-shop-badge-icon">Y!</span>
    </span>
    <span class="btn-shop-label">Yahoo!</span>
  </a>
</div>
